<head>
<!-- Copyright 2005 Macromedia, Inc. All rights reserved. -->
<title>Restaurante - Pagina principal</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="css/mm_restaurant1.css" type="text/css" />
</head>

<fmt:setLocale value="en_EN"/>
<fmt:setBundle basename="RbaEtiquetas" />


<body bgcolor="#0066cc">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr bgcolor="#99ccff">
	<td width="15" nowrap="nowrap" ><img src="css/mm_spacer.gif" alt="" width="15" height="1" border="0" /></td>
	<td height="60" colspan="3" class="logo" nowrap="nowrap"><br /><fmt:message key="membrete" /><span class="tagline">| <fmt:message key="membrete_leyenda" /></span></td>
	<td width="40">&nbsp;</td>
	<td width="100%">&nbsp;</td>
	</tr>

	<tr bgcolor="#003399">
	<td width="15" nowrap="nowrap">&nbsp;</td>
	<td height="36" colspan="3" id="navigation" nowrap="nowrap" class="navText"><a href="cocina.jsp"><fmt:message key="menu_cocina" /></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="localizacion.jsp"><fmt:message key="menu_localizacion" /></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="carta.jsp"><fmt:message key="menu_carta" /></a>&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;
      <a href="eventos.jsp"><fmt:message key="menu_eventos_especiales" /></a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="contacto.jsp">&nbsp;<fmt:message key="menu_contacto" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
	  <td width="40">&nbsp;</td>
	<td width="100%">&nbsp;</td>
	</tr>

	<tr bgcolor="#ffffff">
	<td colspan="6"><img src="css/mm_spacer.gif" alt="" width="1" height="1" border="0" /></td>
	</tr>

	<tr bgcolor="#ffffff">
	<td width="230" colspan="2" valign="top" bgcolor="#ffffcc"><img src="css/mm_restaurant_image.jpg" alt="Home Page Image" width="230" height="270" border="0" />
	