<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">
  <bean id="placeholderConfig" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
    <property name="locations">
      <list>
        <value>classpath:application.properties</value>
        <value>classpath:application-override.properties</value>
      </list>
    </property>
    <property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE"/>
  </bean>
  <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
    <property name="driverClass" value="${jdbc.driver}"/>
    <property name="jdbcUrl" value="${jdbc.url}"/>
    <property name="user" value="${jdbc.username}"/>
    <property name="password" value="${jdbc.password}"/>
  </bean>
  <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
    <property name="dataSource" ref="dataSource"/>
    <property name="jpaVendorAdapter">
        <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
            <property name="showSql" value="${jdbc.show_sql}"/>
            <property name="generateDdl" value="true"/>
            <property name="databasePlatform" value="org.hibernate.dialect.MySQL5Dialect"/>
        </bean>
    </property>
  </bean>
  <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
    <property name="entityManagerFactory" ref="entityManagerFactory"/>
    <property name="dataSource" ref="dataSource"/>
  </bean>
  <tx:annotation-driven/>
  <bean class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor"/>
  <bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"/>
  <bean class="org.springframework.transaction.interceptor.TransactionAttributeSourceAdvisor">
    <property name="transactionInterceptor" ref="transactionInterceptor"/>
  </bean>
  <bean id="transactionInterceptor" class="org.springframework.transaction.interceptor.TransactionInterceptor">
    <property name="transactionManager" ref="transactionManager"/>
    <property name="transactionAttributeSource">
      <bean class="org.springframework.transaction.annotation.AnnotationTransactionAttributeSource"/>
    </property>
  </bean>
  <!-- transacciones -->
  <!-- wicket  -->
  <bean id="wicketApplication"
    class="com.arquillos.gestres.web.Application">
    <property name="usuarioDao" ref="usuarioDao"/>
    <property name="adminEmail" value="${app.adminEmail}" />
    <property name="homeUrl" value="${app.homeUrl}" />
    <property name="titulo" value="${app.titulo}" />
    <property name="version" value="${app.version}" />
    <property name="autor" value="${app.autor}" />
  </bean>

  <!-- Servicios -->

  <!-- Servicio de correo -->
  <bean id="servicioCorreo" class="com.arquillos.gestres.service.impl.ServicioCorreoImpl">
    <property name="mailSender" ref="mailSender" />
    <property name="from" value="${app.adminEmail}" />
    <property name="homeUrl" value="${app.homeUrl}" />
    <property name="titulo" value="${app.titulo}" />
  </bean>
  <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
    <property name="host" value="${mail.host}"/>
    <property name="port" value="${mail.port}"/>
    <property name="username" value="${mail.username}"/>
    <property name="password" value="${mail.password}"/>
    <property name="javaMailProperties">
      <props>
        <!-- utilizamos SMTP-AUTH para autenticar al servidor SMTP -->
        <prop key="mail.smtp.auth">${mail.smtp_auth}</prop>

        <!-- utilizamos TLS para encriptar la comunicación con el servidor SMTP-->
        <prop key="mail.smtp.starttls.enable">${mail.smtp_tls}</prop>
      </props>
    </property>
  </bean>
  <!-- Fin servicios -->

  <!-- DAOs -->
  <bean id="usuarioDao" class="com.arquillos.gestres.dao.impl.UsuarioDaoImpl"/>
  <bean id="recursoDao" class="com.arquillos.gestres.dao.impl.RecursoDaoImpl"/>
  <bean id="reservaDao" class="com.arquillos.gestres.dao.impl.ReservaDaoImpl"/>
  <!-- Fin DAOs -->
</beans>