@CHARSET "ISO-8859-1";

/* HOJA DE ESTILOS PRINCIPAL */

/* FUENTES ***************************************************************************************************************************************************/
/* Light */
@font-face {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 300;
	src: local('Roboto Condensed Light'), local('RobotoCondensed-Light'), url("Roboto_Condensed/RobotoCondensed-Light.ttf") format('truetype');
}
@font-face {
	font-family: "Roboto Condensed";
	font-style: italic;
	font-weight: 300;
	src: local('Roboto Condensed Light Italic'), local('RobotoCondensed-LightItalic'), url("Roboto_Condensed/RobotoCondensed-LightItalic.ttf") format('truetype');
}
 
/* Normal */
@font-face {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 400;
	src: local('Roboto Condensed Regular'), local('RobotoCondensed-Regular'), url("Roboto_Condensed/RobotoCondensed-Regular.ttf") format('truetype');
}
@font-face {
	font-family: "Roboto Condensed";
	font-style: italic;
	font-weight: 400;
	src: local('Roboto Condensed Italic'), local('RobotoCondensed-Italic'), url("Roboto_Condensed/RobotoCondensed-Italic.ttf") format('truetype');
}
 
/* Bold */
@font-face {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 700;
	src: local('Roboto Condensed Bold'), local('RobotoCondensed-Bold'), url("Roboto_Condensed/RobotoCondensed-Bold.ttf") format('truetype');
}
@font-face {
	font-family: "Roboto Condensed";
	font-style: italic;
	font-weight: 700;
	src: local('Roboto Condensed Bold Italic'), local('RobotoCondensed-BoldItalic'), url("Roboto_Condensed/RobotoCondensed-BoldItalic.ttf") format('truetype');
}
/* FUENTES ***************************************************************************************************************************************************/


body{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background: #ffffff;
	font-family: 'Roboto Condensed', Verdana, Geneva, sans-serif;
}

#faja{
	position: relative;	/* AJUSTAMOS A DIFERENTES RESOLUCINES PORQUE USAMOS LA FAJA COMO ELEMENTO DE CONTROL */
	width: 62.5em; /* 1000px */
	margin: 0 auto;
	background: #ee50f5;
}

header{
	float: left;
	width: 62.5em;
	background: #0050f5;
	height: 7em; /*BORRAR*/
}

#cabecera_arriba{
	float: left;
	width: 62.5em;
	background: #ffff00;
	height: 5em; /*BORRAR*/
}

#cabecera_abajo{
	float: left;
	width: 62.5em;
	background: #00ff00;
	height: 2em; /*BORRAR*/
}

.enlace{
	float: left;
	width: 11em;
	background: #222222;
	height: 1.5em; /*BORRAR*/
	border-right: solid 0.5em #000000;
	padding-top: 0.5em;
	padding-left: 1em;
}

.enlace a{
	text-decoration: none;
	color: #ffffff;
	letter-spacing: 0em;
	font-size: 80%;
}

.enlace a:hover{
	letter-spacing: 0.2em;
}

.enlace h1{
	color: #ffffff;
	letter-spacing: 0em;
	font-size: 80%;
}

#cuerpo{
	float: left;
	width: 62.5em;
	background: #129fe1;
}

nav{
	float: left;
	width: 10em;
	background: #129fe1;
	height: 25em; /*BORRAR*/
}

#principal{
	float: left;
	width: 52.5em;
	background: #00ff00;
	height: 20em;
	padding-top: 5em;
	text-align:center;
}


footer{
	float: left;
	width: 62.5em;
	background: #128754;
	height: 2em; /*BORRAR*/
}
