<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>Ejercicio1</display-name>
  
  <servlet>
  <description></description>
  <display-name>Access</display-name>
  <servlet-name>Access</servlet-name>
  <servlet-class>org.sesion.Access</servlet-class>
  </servlet>
  <servlet>
  <description></description>
  <display-name>CerrarSesion</display-name>
  <servlet-name>CerrarSesion</servlet-name>
  <servlet-class>org.sesion.CerrarSesion</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>Access</servlet-name>
  <url-pattern>/access</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  <servlet-name>Access</servlet-name>
  <url-pattern>/Access</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  <servlet-name>CerrarSesion</servlet-name>
  <url-pattern>/CerrarSesion</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
  <servlet-name>CerrarSesion</servlet-name>
  <url-pattern>/cerrarSesion</url-pattern>
  </servlet-mapping>  
  
  <servlet>
  <description></description>
  <display-name>GestionRecursos</display-name>
  <servlet-name>GestionRecursos</servlet-name>
  <servlet-class>org.sesion.GestionRecursos</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>GestionRecursos</servlet-name>
  <url-pattern>/GestionRecursos</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  <servlet-name>GestionRecursos</servlet-name>
  <url-pattern>/gestionRecursos</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <description></description>
  <display-name>BorrarRecurso</display-name>
  <servlet-name>BorrarRecurso</servlet-name>
  <servlet-class>org.sesion.BorrarRecurso</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>BorrarRecurso</servlet-name>
  <url-pattern>/BorrarRecurso</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  <servlet-name>BorrarRecurso</servlet-name>
  <url-pattern>/borrarRecurso</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <description></description>
  <display-name>EditarRecurso</display-name>
  <servlet-name>EditarRecurso</servlet-name>
  <servlet-class>org.sesion.EditarRecurso</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>EditarRecurso</servlet-name>
  <url-pattern>/EditarRecurso</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  <servlet-name>EditarRecurso</servlet-name>
  <url-pattern>/editarRecurso</url-pattern>
  </servlet-mapping>
  
    <servlet>
  <description></description>
  <display-name>InsertarRecurso</display-name>
  <servlet-name>InsertarRecurso</servlet-name>
  <servlet-class>org.sesion.InsertarRecurso</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>InsertarRecurso</servlet-name>
  <url-pattern>/InsertarRecurso</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  <servlet-name>InsertarRecurso</servlet-name>
  <url-pattern>/insertarRecurso</url-pattern>
  </servlet-mapping>
  
 <filter>
    <filter-name>MyFilter</filter-name>
    <filter-class>org.sesion.MyFilter</filter-class>
    <init-param>
      <param-name>urlLogin</param-name>
      <param-value>login.jsp</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>MyFilter</filter-name>
    <url-pattern>/recursos.jsp</url-pattern>
  </filter-mapping>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>