<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>prRBA_3</display-name>
	<servlet>
		<description></description>
		<display-name>ProcesaLogado</display-name>
		<servlet-name>ProcesaLogado</servlet-name>
		<servlet-class>		
		configuracion.ProcesaLogado</servlet-class>
	</servlet>	
	
	<servlet>
		<description></description>
		<display-name>AccionCliente</display-name>
		<servlet-name>AccionCliente</servlet-name>
		<servlet-class>
		rba.clientes.AccionCliente</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>AccionMesa</display-name>
		<servlet-name>AccionMesa</servlet-name>
		<servlet-class>
		rba.mesas.AccionMesa</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>AccionReserva</display-name>
		<servlet-name>AccionReserva</servlet-name>
		<servlet-class>
		rba.reservas.AccionReserva</servlet-class>
	</servlet>
	<filter>
		<filter-name>FiltroLogadoRba</filter-name>
		<filter-class>configuracion.FiltroLogadoRba</filter-class>
	</filter>
	
	<servlet-mapping>
		<servlet-name>ProcesaLogado</servlet-name>
		<url-pattern>/ProcesaLogado</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AccionCliente</servlet-name>
		<url-pattern>/AccionCliente</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AccionMesa</servlet-name>
		<url-pattern>/AccionMesa</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AccionReserva</servlet-name>
		<url-pattern>/AccionReserva</url-pattern>
	</servlet-mapping>

	<filter-mapping>
		<filter-name>FiltroLogadoRba</filter-name>
		<url-pattern>/zonaPrivada/*</url-pattern>
	</filter-mapping>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
