root {
  display: block;
}

.pdf {
  padding: 0 0 0 20px;
  background: transparent url(images/pdf.png) no-repeat center left;
}

.feedbackPanelERROR {
  color: red;
}

.required {
  font-weight: bold;
}

tr.headers a {
  padding: .3em;
  text-decoration: none;
}

tr.even  {
  background-color: #EEE;
  font-size: 80%;
}

tr.odd {
  background-color: inherit;
  font-size: 80%;
}

th.wicket_orderUp a {
  padding-right: 16px;
  background: transparent url(images/arriba.png) no-repeat center right;
}

th.wicket_orderDown a {
  padding-right: 16px;
  background: transparent url(images/abajo.png) no-repeat center right;
}

td.comment span {
  font-size: 80%;
}

.navigation {
  background-color: lightblue;
}

span.mensajeDia {
  font-size: 75%;
}

form {
  margin: 0;
}