<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>AJAX_3_2_4</display-name>
  <servlet>
    <description>
		</description>
    <display-name>Comentariolibro</display-name>
    <servlet-name>Comentariolibro</servlet-name>
    <servlet-class>java.Comentariolibro</servlet-class>
  </servlet>
    
  <servlet-mapping>
    <servlet-name>Comentariolibro</servlet-name>
    <url-pattern>/Comentariolibro</url-pattern>
  </servlet-mapping>
  
    
  <welcome-file-list>
    <welcome-file>titulos.html</welcome-file>
  </welcome-file-list>
</web-app>