@CHARSET "ISO-8859-1";

div {
	background-color:white;
}

table {
	background-color:#d3e4f1;
	border-color: blue;
	border-style: solid;
	border-width: 1px;
}

#top {
	float:left;
}

#cerrarSesion, #gotoMenu {
	float: right;
	font-family: arial;
	font-size: 12px;
	margin: 0 10px;
}

#filtro {
	float:right;
	clear: both;
	border-spacing: 20px 0px;
	display: block;
	font-size: 0.75em;
	font-weight: bold;
	font-family: sans-serif;
}

#clear {
	float: none;
	clear: both;
}

#content table {
	border-width: 1px;
	border-spacing: 2px;
	border-style: outset;
	border-color: green;
	border-collapse: separate;
	background-color: white;
	text-align: center;
}

#content table td {
	border-width: 1px;
	padding: 1px;
	border-style: inset;
	border-color: blue; 
	background-color: white;
	color: blue;
}

#content table th {
	border-width: 1px;
	padding: 1px;
	border-style: inset;
	border-color: blue;
	background-color: white;
	font-family: sans-serif;
	color: green;
	font-weight: bold;
}

 #cargaArchivo {
	border: 10px;
	border-color: black;
	font-family: arial;
	background-color: #8fbfe4;
}

#menu {
	border:10px;
	border-color:black;
	background-color:#8fbfe4;
	font-family:arial;
	color:blue;
	text-align:left;
	border-color: blue;
	border-style:solid;
	border-width: 2px;
}

#backToList {
	float:left;
	clear: both;
	font-family:arial;
	font-size: 18px;
	margin: 10px 0;
}

#pagefooter{
	float: left;
	bottom: 0px;
	font-family: arial;
	font-size: 12px;
	margin: 0 10px;
}