
     	<h2>Editar un Data </h2>
         <form>
         <label for="health">Pais</label><br>
         <select class="form-control" id="sel1" ng-model="vm.data.country"
	                    ng-options="country as country.countryName for country in vm.countries"  required>
	            </select> 
        
        <label for="health">Health</label><br>
         <select class="form-control" id="sel1" ng-model="vm.data.health"
	                    ng-options="health as health.indicadorCode for health in vm.healths"  required>
	            </select>
        
        <br>
		  	
			    
		   </div>
		    
		    <div class="form-group">
			    <label for="anno">Año</label>
			    <input type="text" class="form-control" id="year" aria-describedby="emailHelp" ng-model="vm.data.year">
			    <small id="pass" class="form-text text-muted">Campo obligatorio.</small>
		    </div>
		    
		    <br>
		    
		    <div class="form-group">
			    <label for="porcentage">Porcentage</label>
			    <input type="text" class="form-control" id="porcentage" aria-describedby="emailHelp" ng-model="vm.data.percentage">
			    <small id="pass" class="form-text text-muted">Campo obligatorio.</small>
		    </div>
		    <br>
		   
		   
		   
		   
		    <a href="../"><button type="button" class="btn btn-danger" >Cancelar</button></a>
		    <button class="btn btn-primary" ng-disabled="vm.data.country==null  || vm.data.year == null" ng-click = "vm.enviarData()">Enviar</button>
		   
		   
		   {{vm.data}}
		  </form>
		  
		  


