#header {
	position: absolute;width: 75%;height: 25%;
	top: 0;	right: 0;bottom: 75%;left: 25%;
	background-color: #565b55;
}

#sidebar {
	position: fixed;width: 25%;height: 100%;
	top: 0;right: auto;bottom: 100px;left: 0;
	background-color: #565b55;
}

#main {
	position: absolute;width: 75%;height: 75%;
	top: 25%;right: 0;bottom: 0;left: 25%;
	overflow: auto;background-image: url("aura.jpg");
}

#footer {
	position: absolute;	width: 25%;	height: 10%;
	top: 90%;	right: 0;	bottom: 0;	left: 0%;
	background-color: #565b55;
}

#botonvolver {
	position: fixed;width: 7%;	height: 4%;
	top: 95%;	right:35%;	bottom: 0;	left:65%;
	background-color: #565b55;
	}
#botoninsertar {
	position: fixed;width: 7%;	height: 4%;
	top: 95%;	right: 45%;	bottom: 0;	left:55%;
	background-color: #565b55;
	}
text1 {
	font-style: italic;
	font-weight: bold;
	font-size: 12px;
	font-family: arial, sans-serif;
	color: #f9ed8b;
}

text2 {
	font-style: italic;
	font-weight: bold;
	font-size: 16px;
	font-family: arial, sans-serif;
	color: #ff8d42;
}

text3 {
	font-style: italic;
	font-weight: bold;
	font-size: 24px;
	font-family: arial, sans-serif;
	color: #f9ed8b;
}
a:link {color: #f9ed8b; }

a:visited {  color: #f9ed8b; }


table.tabla mod1 {

}

table.tabla caption.mod1 {

		font: italic bold 20px Geneva;
		text-align: left;
		color: yellow;
}

table.tabla th.mod1{

	white-space: nowrap;
	border: 1px solid #ff8d42;
	padding:0.8em;
	font: bold 16px Geneva;
	text-align:left;
	color: #f9ed8b;
	background: #565b55;

}

table.tabla td.mod1 {

	border: 1px solid #ff8d42;
	font: bold 14px arial, helvetica, sans-serif;
	text-align:left;
	padding: 0.6em;
	color: #DCDCDC;

}
table.tabla td.mod1:hover{
	font-size: 14px;
	color:#ff8d42;
	font-weight: bold;
	text-decoration: underline;
}
table.tabla td.mod2 {
	width: 50%;
	border: 1px solid #ff8d42;
	font: bold 14px arial, helvetica, sans-serif;
	text-align:left;
	padding: 0.6em;
	color: #DCDCDC;

	}


