table
{
	border-collapse: collapse;
}

thead
{
	font-weight: bold;
	background-color: #58ACFA;
}

th, td
{
	padding: 5px;
	border: 1px solid black;
}

a
{
	color: blue
}

#contenedor
{
	margin:15px;
}

#titulo
{
	width:400px;
}

#combo
{
	margin-left:102px;
	margin-top: 5px;
	background-color:#f7f7f7;
	border: 1px solid black;
}

#combo td
{
	border: 0;
}

.error
{
	color: #ff0000;
	margin:15px 0px;
}

.firma
{
	font-style:italic;
	margin-top:25px;
}