/* 
Document   : estiloGeneral
Created on : 23-sep-2008, 22:58:18
Author     : Alef08
Description:
Purpose of the stylesheet follows.
*/

/* 
TODO customize this sample style
Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}
.tituloPagina {
	font:20px georgia;
	color: #CC3300;
	letter-spacing:0.1em;
	line-height:26px;
	left: 146px;
	position: absolute;
	top: 103px;
}
.intro_datos {
	position: absolute;
	left: 427px;
	font-style: normal;
	line-height: 25px;
	word-spacing: 10px;
	top: 103px;
	height: 29px;
}
.intro_datosLogin {
    font-style: normal;
    line-height: 25px;
    word-spacing: 10px;
   
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 100px;
    padding-right: 100px;
}
.fuente{
    
    font-family: Geneva,Arial,Helvetica,sans-serif;
    font-weight: bold;
    word-spacing: 0px;
}
.center{
	position: absolute;
	width: 153px;
	left: 12px;
	top: 10px;
}
.center:hover{
	text-decoration: none;
}
.paginacion{
	position: absolute;
	left: 108px;
	top: 207px;
}

#tablaGeneral{
	border-collapse: collapse;
	border: 1px solid #03476F;
	font: normal 11px verdana, arial, helvetica, sans-serif;
	background: #99CCFF;
	color: #ffffff;
	left: 106px;
	position: absolute;
	top: 231px;
}
#tablaGeneral caption {
    text-align: center;
    font: bold 18px arial, helvetica, sans-serif;
    background: transparent;
    padding:6px 4px 8px 0px;
    text-transform: uppercase;
}
#tablaGeneral td{
    border: 1px dotted #03476F;
    padding: .4em;
}
#tablaGeneral a{
	color: #FFFFFF;
}
#tablaGeneral th {
	border: 1px dotted #03476F;
	padding: 0.4em;
	background-image: url(../template/cabeceraTabla.png);
}  

#tablaGeneral tbody tr:hover {
    background: #cccccc;
    border: 1px solid #03476F;
    color: #000000;
    
}
#tablaGeneral tbody tr:hover th,
#tablaGeneral tbody tr.odd:hover th {
    background: #cccccc;
    color: #000000;
}
#fondoGeneral{    
    background-color: #ffffcc;
    width: 1000px;
    height:500px;
}
.rightGeneral{        
    
    position: absolute;
    left: 810px;
    top: 568px;
}
.fila{
	position: static;
}
.altaFormulario{
	position: absolute;
	left: 97px;
	top: 200px;
	width: 815px;
}
.imagenFondo{
	background-image: url(../template/mesaFondo2.png);
	width: 363px;
	height: 212px;
	position: absolute;
	top: 146px;
	left: 543px;
}
.agenda{
	background-image: url(../template/agenda.png);
	position: absolute;
	left: 674px;
	top: 163px;
	width: 200px;
	height: 281px;
}
.inscripcion{
	background-image: url(../template/inscripcion.png);
	position: absolute;
	left: 772px;
	top: 207px;
	width: 200px;
	height: 281px;
}
