@charset "UTF-8";

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: right;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
.welcome {
	display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	float: left; 
}
#adminList ul{
	list-style-type: none;
    margin: 0;
    padding: 0;
    width: 130px;
    background-color: #333;
	visibility: hidden;
	z-index: 598;
	position:absolute;
	float: left;
}
#adminList:hover > ul{
	visibility: visible;
	z-index: 598;
	float: left;
	display:block;
}
#adminList ul li{
	display: block;
	float: left;
	width: 100%;
	color: white;
}
#adminList ul li a{
	display: block;
	float: left;
    color: white;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
}
#adminList ul li:hover {
    background-color: #111;
}





