/* CSS Document */
body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #F0F0F0;
}
#container {
	width: 1024px;
	padding: 1%;
	margin: auto;
	background-color: #FFF;
	border: 1px #CCCCCC solid;
}

/* log */
.log {
	font-size: .8em;
	display: block;
	float: right;
	margin: 1% 0;
	color: #333;
}
.log p, .log a {
	text-align: right;
}
.logCampo {
	float: right;
	clear: both;
	margin: 2px 0;
}
.logCampo label {
	margin-right: 5px;
}
.logCampo input {
	width: 125px;
	border: 1px #333333 solid;
	border-radius: 5px;
	padding: 4px;
}
.logBtn {
	clear: both;
	float: right;
	margin-top: 5px;
	width: 135px;
	border: 1px #285E8E solid;
	border-radius: 5px;
	background-color: #3276B1;
	color: #FFF;
	padding: 4px;
	cursor: pointer;
}
input[name="Entrar"]:hover {
	background-color: #4D8FCC;
}
p, a {
	text-align: left;
	margin: 5px;
	margin-right: 15px;
}
a {
	display: block;
	color: #F90;
}
/* menu */
#menu {
	clear: both;
	display: block;
	position: relative;
	background-color: #999;
	margin: 1% 0;
	border-radius: 5px;
}
#menu ul {
	list-style: none;
	margin: 0;
	padding: 0 1%;
	display: inline-block;
}
#menu li {
	display: inline-block;
	position: relative;
	text-align: center;
}
#menu li a {
	text-decoration: none;
	color: #FFF;
	font-size: 1.2em;
	line-height: 2em;
}
#menu li a:hover {
	color: #000;
}

#menu li:hover ul {
	display: block;
}
#menu li ul {
	display: none;
	position: absolute;
	margin: 0 10%;
	padding: 2% 5%;
	min-width: 160px;
	background: #E6E6E6;
	border-top: 1px #333333 solid;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	text-align: center;
}
#menu li ul li {
	display: block;
	list-style: none;
	text-align: left;
}
#menu li ul li a {
	text-decoration: none;
	color: #999;
	font-size: 1em;
	line-height: 1.5em;
}
#menu li ul li a:hover {
	color: #333;
}

/* content */
#content {
	margin: 50px 0;
	color: #333;
}
#content h2 {
	text-align: center;
}
table {
	border-collapse: collapse;
	border: 0;
}
th, td {
	border: 1px #999 solid;
	padding: 2px 10px;
}
th {
	background-color: #F5F5F5;
}
td {
	font-size: 0.8em;
	height: 2em;
}
.boton {
	border: 0;
	background-color: #FFF;
}
.btn {
	margin-top: 5px;
	border: 1px #285E8E solid;
	border-radius: 5px;
	background-color: #3276B1;
	color: #FFF;
	padding: 4px;
	cursor: pointer;
	text-decoration: none;
}
.btn:hover {
	background-color: #4D8FCC;
}
.cntCampo {
	display: block;
	clear: both;
	margin-top: 10px;
}
.cntCampo div {
	display: inline;
	float: right;
	margin-right: 600px;
	margin-bottom: 5px;
}
#content label {
	margin-right: 5px;
}
.cntCampo input {
	border: 1px #333333 solid;
	padding: 4px;
	width: 200px;
}
.cntCampo select, option {
	width: 210px;
	border: 1px #333333 solid;
	padding: 2px;
}
.cntCampo .btn {
	display: inline-block;
	clear: both;
	float: right;
	margin-right: 600px;
	width: 210px;
}
.cntCampo div.hora {
	margin-right: 285px;
}
/* datepicker */
.ui-datepicker tbody td {  
    margin: 0;
    padding: 0;
}
/* clases aux */
.hidden {
	visibility: hidden;
}
.datosRojo {
	color: red;
}
/* Paginación */
.paginacion ul{
	display: inline-block;
}

.paginacion ul li{
	list-style: none;
	display: inline-block;
}


/* mensajes informativos */
.info {
	font-size: .8em;
	padding: 1% ;
	background-color: #5FA;
}

.info_error {
	font-size: .8em;
	padding: 1% ;
	background-color: #FAA;
}

.info_btn {
	margin-top: 5px;
	border: 1px #285E8E solid;
	border-radius: 5px;
	background-color: #3276B1;
	color: #FFF;
	padding: 4px;
	cursor: pointer;
	width: 75px;
	float: left;
	text-decoration: none;
	text-align: center;
}
.info_btn:hover {
	background-color: #4D8FCC;
}
.info_cancelar {
	font-size: .8em;
	padding: 1% 0 ;
	background-color: #FFF;
}