<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

   <bean id="pantalones" class="uned.java2016.spring.dao.Pantalones">
       <property name="color" value="Azul"/>
       <property name="talla" value="44"/>
       <property name="precio" value="49.99"/>
   </bean>
    <bean id="camisa" class="uned.java2016.spring.dao.Camisa">
       <property name="color" value="Gris"/>
       <property name="talla" value="40"/>
       <property name="precio" value="29.99"/>
   </bean>
</beans>