	<style type="text/css">

		h3 {
	  		color: white	; 
	  		font-family: Verdana; 
	  		text-align: center;
	  	}
		.footerDiv img,.headerDiv img  {
	  		height: 70px;  		 
	  	}

		.footerDiv,.headerDiv {
		width: 100%; 
	    background-color: #48487b; 
	    text-align: center;
	    padding-top: 10px;
	    padding-bottom: 10px;
		}	
		.headerDiv h3, .footerDiv h3 {
	  		color: white	; 
	  		font-family: Verdana; 
	  		text-align: center;
	  	}
		.headerDiv img {
	  		height: 70px;  		 
	  	}
	  	.clear{
	  	clear:both;
	  	}
	</style>