<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>alphaWS_Cliente</display-name>
  <servlet>
    <servlet-name>AccesoUsuario</servlet-name>
    <servlet-class>es.uned2014.recursosAlpha.servlet.AccesoUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccesoUsuario</servlet-name>
    <url-pattern>/AccesoUsuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SalidaUsuario</servlet-name>
    <servlet-class>es.uned2014.recursosAlpha.servlet.SalidaUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SalidaUsuario</servlet-name>
    <url-pattern>/SalidaUsuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FormularioCrearReserva</servlet-name>
    <servlet-class>es.uned2014.recursosAlpha.servlet.FormularioCrearReserva</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FormularioCrearReserva</servlet-name>
    <url-pattern>/FormularioCrearReserva</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FormularioBuscarRecurso</servlet-name>
    <servlet-class>es.uned2014.recursosAlpha.servlet.FormularioBuscarRecurso</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FormularioBuscarRecurso</servlet-name>
    <url-pattern>/FormularioBuscarRecurso</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FormularioBuscarReserva</servlet-name>
    <servlet-class>es.uned2014.recursosAlpha.servlet.FormularioBuscarReserva</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FormularioBuscarReserva</servlet-name>
    <url-pattern>/FormularioBuscarReserva</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MisReservas</servlet-name>
    <servlet-class>es.uned2014.recursosAlpha.servlet.MisReservas</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MisReservas</servlet-name>
    <url-pattern>/MisReservas</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MisPeticiones</servlet-name>
    <servlet-class>es.uned2014.recursosAlpha.servlet.MisPeticiones</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MisPeticiones</servlet-name>
    <url-pattern>/MisPeticiones</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FormularioEditarReserva</servlet-name>
    <servlet-class>es.uned2014.recursosAlpha.servlet.FormularioEditarReserva</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FormularioEditarReserva</servlet-name>
    <url-pattern>/FormularioEditarReserva</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>