<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>MedLineBennett1.0</display-name>
  <servlet>
    <description></description>
    <display-name>Login_action</display-name>
    <servlet-name>Login_action</servlet-name>
    <servlet-class>servlets.Login_action</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>CerrarSesion</display-name>
    <servlet-name>CerrarSesion</servlet-name>
    <servlet-class>servlets.CerrarSesion</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>Menu</display-name>
    <servlet-name>Menu</servlet-name>
    <servlet-class>servlets.Menu</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>UploadFile</display-name>
    <servlet-name>UploadFile</servlet-name>
    <servlet-class>servlets.UploadFile</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>BennettSearch</display-name>
    <servlet-name>BennettSearch</servlet-name>
    <servlet-class>servlets.BennettSearch</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>MedlineSearch</display-name>
    <servlet-name>MedlineSearch</servlet-name>
    <servlet-class>servlets.MedlineSearch</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>MixSearch</display-name>
    <servlet-name>MixSearch</servlet-name>
    <servlet-class>servlets.MixSearch</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>ShowDetail</display-name>
    <servlet-name>ShowDetail</servlet-name>
    <servlet-class>servlets.ShowDetail</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>WSRestApplication</servlet-name>
    <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>javax.ws.rs.Application</param-name>
      <param-value>ws.rest.WSRestApplication</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>WSRestApplication</servlet-name>
    <url-pattern>/rs/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Login_action</servlet-name>
    <url-pattern>/login_action</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Login_action</servlet-name>
    <url-pattern>/Login_action</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CerrarSesion</servlet-name>
    <url-pattern>/CerrarSesion</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CerrarSesion</servlet-name>
    <url-pattern>/cerrarSesion</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Menu</servlet-name>
    <url-pattern>/menu</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadFile</servlet-name>
    <url-pattern>/UploadFile</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BennettSearch</servlet-name>
    <url-pattern>/bennettSearch.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MedlineSearch</servlet-name>
    <url-pattern>/medlineSearch.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MixSearch</servlet-name>
    <url-pattern>/mixSearch.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowDetail</servlet-name>
    <url-pattern>/showDetail.do</url-pattern>
  </servlet-mapping>
  <resource-ref>
    <description>Conexión a la base de datos</description>
    <res-ref-name>jdbc/medlineDB</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <context-param>
    <param-name>dirUploadFiles</param-name>
    <param-value>/uploads</param-value>
  </context-param>
  <context-param>
    <param-name>maxFileSize</param-name>
    <param-value>104857600</param-value>
  </context-param>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>menu.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <!-- 
  <servlet>
    <description>Apache CXF Endpoint</description>
    <display-name>cxf</display-name>
    <servlet-name>cxf</servlet-name>
    <servlet-class>org.apache.cxf.transport.servlet.CXFServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>cxf</servlet-name>
    <url-pattern>/services/*</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>60</session-timeout>
  </session-config>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>WEB-INF/cxf-beans.xml</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  -->
</web-app>