<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>J2EEThinspo</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
      <!-- Cargador de datasource -->
  <listener>
        <listener-class>antonio.j2ee.practica1Thinspo.listener.ThinspoListener</listener-class>
  </listener>
  <!-- Parámetros globales -->
  <context-param>
        <param-name>dataSourceJNDI</param-name>
        <param-value>java:/comp/env/jdbc_mysql</param-value>
  </context-param>
  <filter>
	<filter-name>struts2</filter-name>
	<filter-class>org.apache.struts2.dispatcher.FilterDispatcher</filter-class>
  </filter>
  <filter-mapping>
	<filter-name>struts2</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
    <!-- Información de conexión a la base de datos -->  
  <resource-ref>
    <description>Fuente de datos MySQL</description>
    <res-ref-name>jdbc_mysql</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <!-- Tiempo de vigencia de la session -->
  <session-config>
        <session-timeout>5</session-timeout>
    </session-config>
</web-app>