<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>MiProyecto</display-name>
  <servlet>
    <description>
		</description>
    <display-name>Chequear2</display-name>
    <servlet-name>Chequear2</servlet-name>
    <servlet-class>org.aprende.java</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Chequear2</servlet-name>
    <url-pattern>/Chequear2</url-pattern>
  </servlet-mapping>
  
  
  
</web-app>