body
{
    padding: 0;
	width: 100%;
	height: 100%;
	background: #ffffff;
    font-family: "Century Gothic", verdana, helvetica, arial, sans-serif;
}
/* Contenedor de la página */
#contenedor
{
   	width: 750px;
   	margin: 30px auto;
}

h1
{
	margin-bottom: 10px;
}

h1.login
{
	margin: 10px auto;
	margin-top: 100px;
	text-align: center;
}

#Acceso
{
	margin: 20px auto;
	width: 240px;
	border: 1px solid navy;	
	padding: 10px;
	background-color: #0080ff;
	border-radius: 8px;
}

#Acceso *
{
	padding: 2px;
	margin: 5px;
}

#Acceso [type=password]
{
	margin-left: 19px;
}

#Acceso [type=submit]
{
	margin-top: 10px;
	margin-left: 90px;
}

.pie
{
	text-align: center;
}

.cerrarSesion
{
	color: #800080;
	float: right;
}

#error
{
	text-align: center;
}
#error p
{
	color: red;
}

/* Contenedor de la página Admministrador */
#faja{
	position: relative;	/* Se ajusta a diferentes resoluciones */
	width: 62.5em; /* 1000px */
	margin: 0 auto;
	background: #ffffff;
}

header{
	float:left;
	width: 62.5em; /* 1000px */
	background: #123456;
	height: 2em; /* BORRAR */
}
#centro{
	float:left;
	width: 60.5em; 
	background: #ffffff;
	padding: 1em;
}
.misZonas{
	float:left;
	width: 60.3em;
	background: #ffffff;
	border-radius: 2em;
	border: 0.2em solid #2f4f4f;
	margin-bottom: 1em;
}
#zonaApiTwitter{
	float:left;
	width: 24em;
	padding-top: 1em;
	padding-left: 4em;
}
#zonaHashtag{
	float:left;
	width: 27.3em;
	padding-top: 1.5em;
	padding-left: 5em;
}
.select_busqueda{
	background: #eeeeee;
	border-radius: 0.313em;
	padding-left: 1em;
	width: 16em;
	font-size: 80%;
	margin-left: 1em;
	background: url(../imagenes/zona_buscar/lupa.png) no-repeat;
	color: #000000;
}
.select_busqueda option:first-child{
  color: #777777;
}

.boton{
	background: #eeeeee;
	border-radius: 0.313em;
	width: 4.5em;
	margin-left: 16.5em;
	margin-top: 0.5em;
}
#zonaAdministrador{
	float:left;
	width: 27.3em;
	padding-left: 4em;
	padding-top: 0.5em;
	margin-bottom: 1em;
}
#zonaAdministrador h5{
	font-size: 110%;
	font-weight: bold;
	letter-spacing: -0.063em;
	margin: 0em;	
	color: #000000;
	display:inline;
}

#zonaAdministrador p{
	font-size: 100%;
	margin: 0em;	
	color: #222222;
	display:inline;
}

#zonaTitulo{
	float:left;
	width: 35.3em;
	padding-left: 25em;
	padding-top: 0.5em;
}

#zonaTitulo h5{
	font-size: 110%;
	font-weight: bold;
	letter-spacing: -0.063em;
	margin: 0em;	
	color: #000000;
	display:inline;
}

#zonaTitulo p{
	font-size: 100%;
	margin: 0em;	
	color: #222222;
	display:inline;
}
#zonaResultadosTitulo{
	float:left;
	width: 56.3em;
	padding-left: 4em;
	padding-top: 0.5em;
}

#zonaResultadosTitulo h5{
	font-size: 110%;
	font-weight: bold;
	letter-spacing: -0.063em;
	margin: 0em;	
	color: #000000;
	display:inline;
}

footer{
	float:left;
	width: 62.5em; /* 1000px */
	background: #123456;
	border-radius: 0em;
	margin-bottom: 1em;
	height: 2em; /* BORRAR */
}

